<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div>
        <div id="area-1-header">
            <div>
                <a href="" class="left-icon">LITE</a>
            </div>
            <div>
                <ul>
                    <li>
                        <a href="">Home</a>
                    </li>
                    <li>
                        <a href="">Services</a>
                    </li>
                    <li>
                        <a href="">Dropdown</a>
                    </li>
                    <li>
                        <a href="">Contact</a>
                    </li>
                    <li>
                        <a href="">Register</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>